/* 전체 페이지 컨테이너 */
.content-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.board-box {
	display: flex;
	flex-direction: column;
}

.head {
	border-top: 2px solid black;
}

.head,
.board {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding: 10px;
}

.head-1,
.board-1 {
	flex: 0 0 80px; /* 고정 너비 */
}

.head-2,
.board-2 {
	flex: 2; /* 가변 너비 */
	text-align: left;
	padding-left: 20px;
}

.head-3,
.board-3,
.head-4,
.board-4 {
	flex: 0 0 150px; /* 고정 너비 */
}

.head-5,
.board-5 {
	flex: 0 0 100px; /* 고정 너비 */
}

.board-content-box {
	display: flex;
	flex-direction: column;
}

.button-box {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.page-box {
	display: flex;
	justify-content: center;
	padding: 20px;
	font-size: 20px;
}

.write-button-box {
	display: flex;
	justify-content: flex-end;
}

/* .content-box {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.board-box {
	display: flex;
	flex-direction: column;
}

.head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}



.board {
	display: flex;
	cursor: pointer;
	border-bottom: 1px solid black;
	padding: 10px;
}

.head div,
.board div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.head-1 {
	width: 70px;
}
.head-2 {
	width: 100%;
}
.head-3 {
	width: 200px;
}
.head-4 {
	width: 200px;
}
.head-5 {
	width: 100px;
}

.board-content-box {
	display: flex;
	flex-direction: column;
}

.board-1 {
	width: 70px;
}
.board-2 {
	width: 100%;
	text-align: left;
}
.board-3 {
	width: 200px;
}
.board-4 {
	width: 200px;
}
.board-5 {
	width: 100px;
}

.button-box {
	display: flex;
	flex-direction: column;
}
.page-box {
	display: flex;
	padding: 20px;
	justify-content: center;
}

.write-button-box {
	display: flex;
	justify-content: flex-end;
} */
